{% extends "@MyShopAdmin/index.html.twig" %}

{% block right %}
	<h1><span>Редактирование</span></h1>
	<div class="support">
	<form method="POST" action="{{path('update_photo_for_product',{idPhoto:photo.id})}}" enctype="multipart/form-data">
		{{form_widget(form,{ 'attr' : { 'class': 'someForm' } })}}
		<input type="submit" name="addPhoto" value="Добавить">
	</form>
	</div>
	
{% endblock %}