{% extends "@MyShopAdmin/index.html.twig" %}

{% block right %}
    <form method="POST" action="{{ path('page_add') }}">
        {{ form_widget(form) }}
        <input type="submit">
    </form>
{% endblock %}