<form action="{{ path('login_customer') }}" method="post">
    <label for="login">Логин</label>
    <input type="text" name="_username" id="login">
    <label for="password">Пароль</label>
    <input type="password" name="_password" id="password">
    <input type="submit" name="come_in" value="Войти">
</form>