<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{asset("bundles/myshopdef/css/styleLogin.css")}}">
</head>
<body>
    <form action="{{ path('login_customer') }}" method="post">
        <fieldset>
            <legend>Login</legend>
            <label for="login">E-mail</label>
                <input type="text" name="_username" id="login"><br>
            <label for="password">Пaроль</label>
                <input type="password" name="_password" id="password"><br>
            <div class="submit">
                <input type="submit" name="come_in" value="Войти">
            </div>
        </fieldset>
    </form>
</body>
</html>