{% extends "@MyShopAdmin/index.html.twig" %}

{% block right %}
	<h1>Добавление <span>категории</span></h1>
	<div class="support">
		<form method="POST" action="{{path('add_category')}}" method="POST">
			<div class="data">
				{{form_widget(form)}}
			</div>
			<div class="button">	
				<input type="submit" name="addProduct" value="Добавить">
			</div>	
		</form>
	</div>
	
{% endblock %}