{% extends "@MyShopAdmin/index.html.twig" %}

{% block right %}
	<h1>Список категорий</h1>
	<a href="{{path("add_category")}}">Добвить категорию</a>
	<ul>
		{% for cat in categoryList %}
		<li><a href="{{path("list_by_category",{id_category:cat.id})}}">{{cat.name}}</a>  <a href="{{path('delete_category',{id_category:cat.id})}}">удалить</a> 
		{% endfor %}
	</ul>
{% endblock %}