{% extends "@MyShopAdmin/index.html.twig" %}

{% block right %}
	<form method="POST" action="{{path('admin_add')}}">
		<h1>Создание товара</h1>
		{{form_widget(form)}}
		<input type="submit" name="addProduct" value="Добавить">
	</form>
	
{% endblock %}