{% extends "@MyShopAdmin/index.html.twig" %}

{% block right %}
	<h1>Создание <span>товара</span></h1>
	<div class="support">
		<form method="POST"  enctype="multipart/form-data" action="{{path('admin_add')}}">
				{{form_widget(form,{ 'attr' : { 'class': 'someForm' } })}}
				<div class="button">
					<input type="submit" name="addProduct" value="Добавить">
				</div>

		</form>
	</div>

	
{% endblock %}