{% extends "@MyShopAdmin/index.html.twig" %}

{% block right %}
	<h1>Добавление <span>товара</span></h1>
	<div class="support">
		<form method="POST"  enctype="multipart/form-data" action="{{path('import_product_csv')}}">
			{{form_widget(form)}}
			<div class="button">
				<input type="submit" name="addProduct" value="Добавить">
			</div>	
		</form>
	</div>	
	
{% endblock %}