*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}
@font-face{
	font-family: Myriad;
	src:url(../fonts/MyriadRoman.ttf);
}
body{
	font:13px Myriad,Arial,sans-serif;
}

/*--------------------------header---------------------------*/

.header{
	margin:0 auto;
	background: #fff;
	 
}

.wrapper{
	
	width: 1000px;
	margin: 0 auto;
	
}

header{
	width: 940px;
	margin: 0px auto;
}

.div-logo{
	margin-top:18px;
	margin-bottom: 11px;
	margin-right: 299px;
	float: left;
	
}

.info-block{
	margin-top:11px;
}

.icons li{
	float: right;
	margin-left: 5px;

}

.icons li a{
	width: 30px;
	height: 30px;
	display: block;
	background: url(../img/sprite.png) no-repeat 0 0;
}


.icons li a.fb{
	background-position: -37px;
}

.icons li a.tw{
	background-position: -75px;
}
.forma{
	float: right;
	color: #fff;
	margin-top:11px;
}

.forma form{
	
	width: 406px;
	height: 41px;
	border-radius: 5px;
	background: url(../img/Layer128.png) no-repeat ;
}


label{
	padding-left:18px; 
}

.forma input[type="text"]{
	margin-top:10px; 
	height: 22px;
	width: 93px;
	border-radius: 4px;
	border:none;

}

.forma input[type="password"]{
	margin-top:10px; 
	height: 22px;
	width: 93px;
	border-radius: 4px;
	border:none;

}

.forma input[type="submit"]{
	margin-left: 18px;
	padding: 0 5px 0 5px;
	height: 22px;
	border-radius: 4px;
	border:none;
	background: linear-gradient(to top,#27b1ee,#62d4f6);
}

.sign_in{
	float: right;
	margin-top: 5px;
	text-decoration: underline;
}

.sign_in a{
		color:#000;
}

/*----------------------------------------*/

.nav .wrapper{
	width: 940px;
	height: 51px;
	background:url(../img/Layer12.png) no-repeat;
}

.nav .wrapper nav>ul>li{
	float: left;
}
.nav .wrapper nav ul li a{
	font-size: 16px;
	color:#2f3638;
	padding: 17px 55px;
	display: block;
}

.nav .wrapper nav ul li a:hover{
	color: #0bb1e8;
}

.layer140{
	width: 2px;
	height: 32px;
	margin: 10px 0;
	background:url(../img/Layer140.png)no-repeat 0 0;
}

.search ul li{
	float: right;
}

.search input[type="text"]{
	width:166px;
	height:23px;
	margin-top: 14px;
	border:#cacaca solid 1px;
}

.search input[type="submit"]{
	width: 28px;
	height: 23px;
	border:none;
	margin: 14px 26px 14px 13px;
	background:url(../img/Layer142.png);
}

/*----------------------slider------------------*/

#container {
	width:680px;
	/*padding:10px;*/
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:676px;
	height:350px;
	position:relative;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:133.5px;
	left:-24px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	border-radius: 10px;
	width:676px;
	height:310px;
	overflow:hidden;
	position:relative;
}

#slides .next {
	left:676px;
}

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}


/*.slides a:link,a:visited {
	text-decoration:none;
}

.slides a:hover,a:active {
	text-decoration:underline;
}
*/

/*------------------------content---------------------*/
/*--------------------sidebar--------------*/
.main{
	padding-top: 30px;
}

.main .wrapper{
	width: 940px;
}

.sidebar{
	width: 243px;
	float: left;
}

.cat{
	width: 243px;
	height: 32px;
	font-size: 16px;
	padding-top: 7px;
	background: url(../img/bg-Layer5.png) no-repeat;
 	text-align: center;
}
.categories ul li{
	text-align: left;
	position: relative;
}

.categories ul li a .category{
	color: #000;
	font-size: 14px;
	padding: 9px 0 9px 30px ;
	border-bottom:1px dotted #cccccc ;
	background: #fff;
	transition: 0.5s all;
}

.categories ul li a .category img{
	width: 3px;
	height: 5px;
	padding-right: 10px;
	vertical-align: middle;
}

.categories ul li .div_update_delete{
	display: none;
	position: absolute;
	top:10px;
	right: 10px;
	width: 40px;
	height: 15px;
}

.categories ul li .div_update_delete .update{
	width: 15px;
	height: 15px;
	float: left;
	background: url(../img/twittericons.jpg) -64px 109px ;
}

.categories ul li .div_update_delete .delete{
	width: 15px;
	height: 15px;
	float: right;
	background: url(../img/twittericons.jpg) -377px 180px ;
}

.categories ul li .div_update_delete .delete:hover{
	background: url(../img/twittericons_red.jpg) -377px 180px ;
}

.categories ul li .div_update_delete .update:hover{
	background: url(../img/twittericons_red.jpg) -64px 109px ;
}

.categories ul li a .category:hover{
	color: #0bb1e8;
	padding-left: 40px;
}

.categories ul li:hover .div_update_delete{
	display: block;
}

.categories ul li:hover .sub-menu li .div_update_delete{
	display: none;
}

.categories ul li .sub-menu li:hover .div_update_delete{
	display: block;
}

.categories ul li .sub-menu{
	position: absolute;
	width: 200px;
	margin-left: 1px;
	left:243px;
	top: -99999em;
	z-index: 10;
	opacity: 0;
	transition: 0.5s opacity;
}

.categories ul li .sub-menu .categ-prod{
	padding-left: 0px;
}

.categories ul li .sub-menu li:hover .categ-prod{
	padding-left: 10px;
}

.categories ul li:hover .sub-menu{
	opacity: 1;
	top: 0;
}

.right-col{
	width: 670px;
	float: right;
	margin-bottom: 20px;
	}

.right-col h1{
	font-size: 24px;
	color: #000;
}	

.right-col h1 span{
	color: #0bb1e8;
}

.right-col .support{
	margin-top: 15px;
}

.right-col .support .data{
	width: 641px;
	padding: 3.5px 27px 3.5px 2px;
}

.right-col .support .data{
	content: "";
	display: table;
	clear: both;
}

.right-col .support .data label{
	float: left;
	line-height: 24px;
}

.right-col .support .data input[type="text"],textarea{
	float: right;
	border:1px solid #cccccc;
}

.right-col .support .data input[type="text"]{
	width: 513px;
	height: 22px;

}

.right-col .support textarea{
	resize: none;
	width: 513px;
	height: 520px;
}

.right-col .support .button{
	padding: 16.5px 27px 20px 2px;
	text-align: center;
}

.right-col .support .button input[type="submit"]
{
	height: 23px;
	border:none;
	border-radius: 5px;
	padding: 5px;
	font-size: 13px;
	background: linear-gradient(to top,#27b1ee,#62d4f6);	
}

.product-list li{
	display: inline-block;
	width: 167.50px;
	float: left;
	height: 297px;
	
}

.product-list li a{
	color: #000;
}

.border-right{
	color: #000;
	min-height: 210px;
	border-right: 1px dotted #cccccc;
	margin: 8px 0px 8px 8px;
	padding-right: 8px;
	position: relative;
}

.border-right .top{
	height: 25px;
	background: #0bb1e8;
	border-radius: 12.5px;
	position: absolute;
	
}

.border-right .top p{
	margin: 5px;
}

.img-product{
	text-align: center;
}


.border-right .product .nameProduct{
	text-align: center;
}


.border-right>.product >p{
	margin:0 5px; 
}

.border-bottom{
	width: 150px;
	border-bottom: 1px dotted #cccccc;
	margin:0 auto;
}

.product-list li:nth-child(4n) .border-right{
	border-right: none;
}

.product-list li:nth-child(13n) .border-bottom{
	border-bottom: none;
}


.product-list li:nth-child(14n) .border-bottom{
	border-bottom: none;
}


.product-list li:nth-child(15n) .border-bottom{
	border-bottom: none;
}


.product-list li:nth-child(16n) .border-bottom{
	border-bottom: none;
}

.price-block{
		height: 48.67px;
	padding-left: 5px;
	padding-top: 14px;
	font-size: 15px;
}
.price{
	color: #0bb1e8;
}

.old-price{
	text-decoration: line-through;
	color: #cccccc;
}

.border-right .add_to_bascket{
	text-align: center;
	padding-bottom: 5px;
	font-size: 11px;
	text-decoration: underline;
	position: absolute;
	bottom: 0;
	left: 25px;
}
.border-right .add_to_bascket a{
		color: #0bb1e8;
}

/*-------------------------------list Users------------------*/


.main .wrapper .right-col .listUsers{
	margin-top: 10px;
	max-width: 400px;
}

.main .wrapper .right-col .listUsers li{
	padding:10px 0 5px 0;
	border-bottom: 1px dotted #cccccc;
}

.main .wrapper .right-col .listUsers .name_and_email .userName{
	width:50%;
	float: left;
}

.main .wrapper .right-col .listUsers .name_and_email .userName h4{
	text-align: center;
}

.main .wrapper .right-col .listUsers .name_and_email .userName p{
	padding-left: 15px;
}

.main .wrapper .right-col .listUsers .name_and_email .userEmail h4{
	text-align: center;
}

.main .wrapper .right-col .listUsers .name_and_email .userEmail p{
	padding-left: 215px;
}

/*-----------------------------flash message------------------*/

.main .wrapper .flash_massage{
	position: fixed;
	bottom: 36px;
	right: 0;
	min-width: 100px;
	max-width: 200px;
	min-height: 30px;
	border:1px solid #cccccc;
	border-right: 0px;
	border-top-left-radius: 5px;
	color: #0bb1e8;
}

.main .wrapper .flash_massage ul{
	margin: 10px;
}

.main .wrapper .flash_massage ul li{
	margin: 5px;
}
.main .wrapper .flash_massage ul li .error_massage{
	color: #ff0000;
}

/*-----------------admin panel--------------*/

.main .wrapper .admin_panel{
	position: fixed;
	right: 0px;
	top:0px;
	min-width: 20px;

	background: #FFFFFF;
}

.main .wrapper .admin_panel p{
	padding: 10px;
	text-align: center;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-bottom-left-radius:5px ;
}


.main .wrapper .admin_panel .admin_buttons{
	display: none;
}

.main .wrapper .admin_panel:hover .admin_buttons{
	display: block;
}

.main .wrapper .admin_panel .admin_buttons ul li .admin_button{
	color: #000;
	font-size: 14px;
	padding: 9px 10px 9px 4px;
	border-bottom: 1px dotted #cccccc;
	background: #fff;
}

.main .wrapper .admin_panel .admin_buttons ul li .admin_button img{
	width: 3px;
	height: 5px;
	padding-right: 10px;
	vertical-align: middle;
}

.main .wrapper .admin_panel .admin_buttons ul li .admin_button:hover {
	color: #0bb1e8;
}

/*---------------------------------------------------*/

.second-nav{
	width: 940px;
	height: 41px;
	margin-top: 20px;
	background: url(../img/Layer18.png);
	border-radius: 5px;
	clear: both;
}

.second-nav nav ul li{
	float: left;
}

.second-nav nav ul li a{
	color: #fff;
	padding-top: 12.5px;
	padding-left: 75px;
	padding-right: 74px;
	font-size: 16px;
	display: block;
}

.second-nav .nav-bord{
	width: 1px;
	height: 10px;
	margin: 15.5px 0 15.5px 0;
	background: #bfcbce;
}

.second-nav nav ul li:hover a{
	color: #0bb1e8;
}

/*-----------------------------------footer-----------------------------*/

.footer .wrapper{
	width: 940px;
}

.content-footer{
	margin:20px;
	text-align: center;
}

.content-footer ul li{
	display: inline-block;
	margin:0 10px 0 10px;
}

.content-footer ul li a{
	color: #0bb1e8;
}

.content-footer ul .footer-bord{
	width: 1px;
	height: 10px;
	background: #000;
}




header:after{
	content: "";
	display: table;
	clear: both;
}



