*{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	color: #000000;
	text-decoration: none;
}
@font-face{
	font-family: Myriad;
	src:url(../fonts/MyriadRoman.ttf);
}
body{
	font:13px Myriad,Arial,sans-serif;
}

/*--------------------------header---------------------------*/

.header{
	margin:0 auto;
	background: #fff;
	 
}

.wrapper{
	
	width: 1000px;
	margin: 0 auto;
	
}

header{
	width: 940px;
	margin: 0px auto;
}

.div-logo{
	margin-top:18px;
	margin-bottom: 11px;
	margin-right: 299px;
	float: left;
	
}

.info-block{
	margin-top:11px;
}

.icons li{
	float: right;
	margin-left: 5px;

}

.icons li a{
	width: 30px;
	height: 30px;
	display: block;
	background: url(../img/sprite.png) no-repeat 0 0;
}


.icons li a.fb{
	background-position: -37px;
}

.icons li a.tw{
	background-position: -75px;
}
.forma{
	float: right;
	color: #fff;
	margin-top:11px;
}

.forma form{
	
	width: 406px;
	height: 41px;
	border-radius: 5px;
	background: url(../img/Layer128.png) no-repeat ;
}


label{
	padding-left:18px; 
}

.forma input[type="text"]{
	margin-top:10px; 
	height: 22px;
	width: 93px;
	border-radius: 4px;
	border:none;

}

.forma input[type="password"]{
	float: none;
	margin-top:10px; 
	height: 22px;
	width: 93px;
	border-radius: 4px;
	border:none;

}

.forma input[type="submit"]{
	margin-left: 18px;
	padding: 0 5px 0 5px;
	height: 22px;
	border-radius: 4px;
	border:none;
	background: linear-gradient(to top,#27b1ee,#62d4f6);
}

.sign_in{
	float: right;
	margin-top: 5px;
	text-decoration: underline;
}

.sign_in a{
		color:#000;
}

/*--------------------------------------user panel---------------------*/

.right> .user_panel{
	position: relative;
	float: right;
	margin-top: 11px;
	content: "";
	display: block;
	clear: right;
	max-width: 200px;
	height: 41px;
	border-radius: 5px;
	background: url(../img/Layer128.png) no-repeat;
}
.right>.user_panel .user_name{
	margin: 12px;
	margin-right:50px;
	transition: 1s;
}

.right>.user_panel .user_name a{
	color: #fff;
}

.right>.user_panel img.settings {
	position: absolute;
	top: 3px;
	right: 7px;
	transition: 1s;

}

.right>.user_panel .user_name:hover a{
	color: #0bb1e8;
}

.right> .user_panel:hover{
	border-bottom-right-radius: 0;
}

.right> .user_panel:hover img.settings{
	transform: rotate(360deg);
}

.right> .user_panel:hover .user_menu{
	top: 100%;
	opacity: 1;
}

.right>.user_panel .user_menu{
	position: absolute;
	background: red;
	top: -10000000px;
	right: 0;
	opacity: 0;
	transition: 1s opacity;
	border: 1px solid #000;
	border-top:none;
	border-radius: 0 0 5px 5px;
}

.right>.user_panel .user_menu ul li{
	text-align: left;
	position: relative;

}

.right>.user_panel .user_menu ul li a .user_button{
	color: #000;
	font-size: 14px;
	padding: 9px ;
	border-bottom:1px dotted #cccccc ;
	background: #fff;
}

.right>.user_panel .user_menu ul li a .exit{
	border-radius: 0 0 4px 4px;
	border-bottom: none;
}

.right>.user_panel .user_menu ul li a .user_button img{
	width: 3px;
	height: 5px;
	padding-right: 5px;
	vertical-align: middle;
}

.right>.user_panel .user_menu ul li a .user_button:hover{
	color: #0bb1e8;
}
/*-------------------------------------------------------------------------*/


/*----------------------------------------*/

.nav .wrapper{
	width: 940px;
	height: 51px;
	background:url(../img/Layer12.png) no-repeat;
}

.nav .wrapper nav>ul>li{
	float: left;
}
.nav .wrapper nav ul li a{
	font-size: 16px;
	color:#2f3638;
	padding: 17px 55px;
	display: block;
}

.nav .wrapper nav ul li a:hover{
	color: #0bb1e8;
}

.layer140{
	width: 2px;
	height: 32px;
	margin: 10px 0;
	background:url(../img/Layer140.png)no-repeat 0 0;
}

.search ul li{
	float: right;
}

.search input[type="text"]{
	width:166px;
	height:23px;
	margin-top: 14px;
	border:#cacaca solid 1px;
}

.search input[type="submit"]{
	width: 28px;
	height: 23px;
	border:none;
	margin: 14px 26px 14px 13px;
	background:url(../img/Layer142.png);
}

/*----------------------slider------------------*/

#container {
	width:680px;
	/*padding:10px;*/
	margin:0 auto;
	position:relative;
	z-index:0;
}

#example {
	width:676px;
	height:350px;
	position:relative;
}

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

#slides .next,#slides .prev {
	position:absolute;
	top:133px;
	left:-24px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

.slides_container {
	border-radius: 10px;
	width:676px;
	height:310px;
	overflow:hidden;
	position:relative;
}

#slides .next {
	left:676px;
}

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}


/*.slides a:link,a:visited {
	text-decoration:none;
}

.slides a:hover,a:active {
	text-decoration:underline;
}
*/

/*------------------------content---------------------*/
/*--------------------sidebar--------------*/
.main{
	padding-top: 30px;
}

.main .wrapper{
	width: 940px;
}

.sidebar{
	width: 243px;
	float: left;
}

.cat{
	width: 243px;
	height: 32px;
	font-size: 16px;
	padding-top: 7px;
	background: url(../img/bg-Layer5.png) no-repeat;
 	text-align: center;
}
.categories ul li{
	text-align: left;
	position: relative;
}

.categories ul li a .category{
	color: #000;
	font-size: 14px;
	padding: 9px 0 9px 30px ;
	border-bottom:1px dotted #cccccc ;
	background: #fff;
	transition: 0.5s all;
}

.categories ul li a .category img{
	width: 3px;
	height: 5px;
	padding-right: 10px;
	vertical-align: middle;
}

.categories ul li .div_update_delete{
	display: none;
	position: absolute;
	top:10px;
	right: 10px;
	width: 40px;
	height: 15px;
}

.categories ul li .div_update_delete .update{
	width: 15px;
	height: 15px;
	float: left;
	background: url(../img/twittericons.jpg) -64px 109px ;
}

.categories ul li .div_update_delete .delete{
	width: 15px;
	height: 15px;
	float: right;
	background: url(../img/twittericons.jpg) -377px 180px ;
}

.categories ul li .div_update_delete .delete:hover{
	background: url(../img/twittericons_red.jpg) -377px 180px ;
}

.categories ul li .div_update_delete .update:hover{
	background: url(../img/twittericons_red.jpg) -64px 109px ;
}

.categories ul li a .category:hover{
	color: #0bb1e8;
	padding-left: 40px;
}

.categories ul li:hover .div_update_delete{
	display: block;
}

.categories ul li:hover .sub-menu li .div_update_delete{
	display: none;
}

.categories ul li .sub-menu li:hover .div_update_delete{
	display: block;
}

.categories ul li .sub-menu{
	position: absolute;
	width: 200px;
	margin-left: 1px;
	left:243px;
	top: -99999em;
	z-index: 10;
	opacity: 0;
	transition: 0.5s opacity;
}

.categories ul li .sub-menu .categ-prod{
	padding-left: 0px;
}

.categories ul li .sub-menu li:hover .categ-prod{
	padding-left: 10px;
}

.categories ul li:hover .sub-menu{
	opacity: 1;
	top: 0;
}
/*-------------------------------------------right col----------------------------*/
.right-col{
	width: 670px;
	float: right;
	margin-bottom: 20px;
	}

.right-col h1{
	font-size: 24px;
	color: #000;
}	

.right-col h1 span{
	color: #0bb1e8;
}

.right-col .info_page{
	width: 100%;
	min-height: 40px;
}


.right-col .info_page p{
	padding-top: 25px;
	color: #000;
	font-size: 13px;
	float: left;
}

.right-col  .pages{
	padding-top: 18px;
	float: right;
}

.right-col .pages ul li{
	float: left;
}

.right-col .pages ul li a{
	font-size: 13px;
	text-decoration: underline;
	display: inline-block;
	color: #ffffff;
	padding: 3px;
	margin:0 5px 0 5px ;
	background: url("../img/buttons.png");
	border-radius: 3px;
}

.right-col .pages ul li.dots{
	text-decoration: underline;
	color: #0bb1e8;
}
.right-col .pages ul li.active span{
	font-size: 13px;
	display: inline-block;
	color: #0bb1e8;
	padding: 2px;
	margin:0 5px 0 5px ;
	border:1px solid #0bb1e8;
	border-radius: 3px;
}

.right-col .support{
	margin-top: 15px;
}

.right-col .support .data{
	width: 641px;
	padding: 3px 27px 3px 2px;
}

.right-col .support .data{
	content: "";
	display: table;
	clear: both;
}

.right-col .support .data label{
	float: left;
	line-height: 24px;
}

.right-col .support .data input[type="text"],textarea{
	float: right;
	border:1px solid #cccccc;
}

.right-col .support .data input[type="text"]{
	width: 513px;
	height: 22px;

}

.right-col .support textarea{
	resize: none;
	width: 513px;
	height: 520px;
}

.right-col .support .button{
	padding: 16px 27px 20px 2px;
	text-align: center;
}

.right-col .support .button input[type="submit"]
{
	height: 23px;
	border:none;
	border-radius: 5px;
	padding: 5px;
	font-size: 13px;
	background: linear-gradient(to top,#27b1ee,#62d4f6);	
}

.right-col .list-product:after{
	width: 100%;
	content: "";
	display: table;
	clear: both;
}
/*-------------------------------add product-------------------------*/
.right-col .support form .someForm{
	width: 641px;
	padding: 3px 27px 3px 2px;
}

.right-col .support  form .someForm> div{
	width: 100%;
	padding-top: 10px;
}

.right-col .support  form .someForm> div{
	content: "";
	display: table;
	clear: both;
}

.right-col .support> form >.someForm label{
	float: left;
	line-height: 24px;
}


.right-col .support> form >.someForm >div >input[type="text"],input[type='email'],input[type='password'],select{
	float: right;
	border:1px solid #cccccc;
}

.right-col .support> form >.someForm >div >input[type="text"],input[type='email'],input[type='password']{
	width: 500px;
	height: 22px;
}

.right-col .support> form >.someForm >div >select{
	width: 502px;
	height: 24px;
}

.right-col .support> form >.someForm >div >input[type="file"]{
	margin-left: 5%;
}

.right-col .support> form >.someForm >div >input[type="checkbox"]{
	margin:6px 0 6px 10px;
}

	/*---------------------------------------------------------------------------------*/
/*-------------------product info-----------------*/


.right-col >.info_product .all_photo{
	float: left;
	max-width: 250px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.right-col >.info_product .small_photos{
	text-align: center;
}

.right-col >.info_product .small_photo{
	width: 50px;
	height: 50px;
	margin: 5px;
	margin-bottom: 0px;
	display: inline-block;
	border:1px solid #cccccc;
}
.right-col >.info_product .small_photo:hover{
	border:1px solid #0bb1e8;
}

.right-col >.info_product h1{
	padding:10px 50px 10px 0;
	font-size: 20px;
	text-align: center;
}

.right-col >.info_product .pr-and-basc {
	float: left;
	width: 200px;
	text-align: center;
}

.right-col >.info_product>.pr-and-basc> .price{
	width: 100px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	background: linear-gradient(to top,#ccc,#fff);
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;

}


.right-col >.info_product>.pr-and-basc>  .price p{
	color: #2f3638;
	margin-top: 2px;
	font-size: 24px;
}

.right-col >.info_product>.pr-and-basc>  .add-to-bascket{
	margin-top: 10px;
}

.right-col >.info_product>.pr-and-basc>  .add-to-bascket a{
	color: #0bb1e8;
	text-decoration: underline;
}


.right-col >.info_product> .description{
	margin-top: 140px;
	padding: 0 20px 0 10px;
}

.right-col >.info_product> .description>h1{
	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
}

.right-col >.info_product> .description>h2{
	font-size: 14px;
	padding-bottom: 3px;
}


.right-col >.info_product> .description>p{
	font-size: 13px;
	padding-bottom: 10px;
}


.right-col >.info_product> .description>ul{
	list-style: disc;
	padding-bottom: 10px;
}

.right-col >.info_product> .description>ul li{
	margin-left: 20px;
}

.right-col >.info_product> .specifications{
	padding:10px 0 0 10px;
}

.right-col >.info_product> .specifications>h2{
	font-size: 16px;
	padding-bottom: 3px;
}

.right-col >.info_product> .specifications .block{
	padding: 10px 0;
}

.right-col >.info_product> .specifications .block .name-specifications{
	float: left;
	width: 40%;
}


.right-col >.info_product> .specifications .block .value-specifications{
	width: 60%;
	float: left;
}

.right-col >.info_product> .specifications .block:after{
	content: "";
	display: table;
	clear: both;
}

.right-col >.info_product> .coment{
	padding: 10px 0 0 10px;
	width:100%;
}
.right-col >.info_product> .coment h1{
	font-size: 16px;
}

.right-col >.info_product> .coment .data{
	width: 100%;
	margin-top: 10px;
}

.right-col >.info_product> .coment .data{
	content: "";
	display: table;
	clear: both;
}

.right-col >.info_product> .coment .data label{
	float: left;
	line-height: 24px;
}

.right-col >.info_product> .coment .data input[type="text"],textarea{
	float: right;
	border:1px solid #cccccc;
	margin-right: 20px;
}
.right-col >.info_product> .coment .data input[type="text"]{
	width: 513px;
	height: 22px;
}

.right-col >.info_product> .coment textarea{
	resize: none;
	width: 513px;
	height: 50px;
}

.right-col >.info_product> .coment .button{
	text-align: center;
	margin-top: 10px;
}

.right-col >.info_product> .coment .button input[type=button]{
	height: 23px;
	border:none;
	border-radius: 5px;
	padding: 5px;
	font-size: 13px;
	background: linear-gradient(to top,#27b1ee,#62d4f6);
}
/*------------------------------------------list orders--------------------------*/
.right-col .form_basket{
	box-shadow:5px 10px 20px -10px #cccccc;
	border-radius: 5px;
}

.right-col .icon_photo_for_order{
	width: 100px;
	float: left;
	margin: 10px;

}
.right-col .form_basket:after
{
	content: "";
	display: table;
	clear: both;
}
.right-col .order_product{
	width: 100%;
	border-bottom: 1px solid #cccccc;
	border-radius: 0 0 5px 5px;
}

.right-col .order_product:after
{
	content: "";
	display: table;
	clear: both;
}

.right-col .order_product .info_about_order{
	width: 100%;
	position: relative;
}

.right-col .order_product .info_about_order>a{
	color: #000000;
}

.right-col .order_product .info_about_order .name_product{
	font-size: 24px;
	font-weight:400 ;
	padding: 10px;
}

.right-col .order_product .info_about_order .block_price_product_order .price_product_each_order{
	width: 100px;
	height: 32px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	background: linear-gradient(to top,#ccc,#fff);
	text-align: center;
	margin-left: 120px;
	margin-top: 20px;
}

.right-col .order_product .info_about_order .block_price_product_order .price_product_each_order>p{
	color: #2f3638;
	margin-top: 2px;
	font-size: 24px;
}

.right-col .order_product .info_about_order .block_price_product_order{
	position: relative;
}

.right-col .order_product .info_about_order .block_price_product_order .count_order_product{
	position: absolute;
	top:0;
	right: 0;
	margin-right: 130px;
}

.right-col .order_product .info_about_order .block_price_product_order .count_order_product .count-{
	width: 15px;
	height: 15px;
	background:url(../img/twittericons.jpg) -497px 85px ;
	float: left;
	margin: 8px;
}

.right-col .order_product .info_about_order .block_price_product_order .count_order_product .count_plus{
	width: 15px;
	height: 15px;
	background:url(../img/twittericons.jpg) -472px 85px ;
	float: right;
	margin: 8px;
}

.right-col .order_product .info_about_order .block_price_product_order .count_order_product .count_product{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 300;
	float: left;
	text-align: center;
	background: #ffffff;
	color: #000000;
}

.right-col .order_product .info_about_order .block_price_product_order .total_price{
	position: absolute;
	top: 0;
	right: 0;
	height: 34px;
	font-size: 24px;
	color: #000;
	padding: 0 5px 0 5px ;
	vertical-align: middle;
	line-height: 34px;
}

.right-col .order_product .info_about_order .delete_product_from_basket{
	width: 25px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 5px 0 #cccccc;
	position: absolute;
	top:0;
	right: 0;
	background: url(../img/twittericons.jpg) -516px 185px ;
	margin: 10px 5px;
}

.right-col .order_product .info_about_order .delete_product_from_basket:active{
	box-shadow: none;
}

.right-col .form_basket .recalculation input{
	float: right;
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-size: 15px;
	background: #62d4f6;
	margin-top:10px ;
	box-shadow: 1px 1px 5px 0 #cccccc;
}

.right-col .form_basket .recalculation input:active{
	box-shadow: none;
}

.right-col .form_basket .total_order_price{
	float: right;
	margin:10px;
	font-size: 16px;
}
.right-col .form_basket .total_order_price span{
	font-size: 24px;
}

.right-col .confirm_order{
	padding: 7px;
	color: #000000;
	font-size: 24px;
	float: right;
	margin-top: 5px;
	margin-right:10px ;
	background: #62d4f6;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 0 #cccccc;
}

.right-col .confirm_order:active{
	box-shadow: none;
}

/*------------------------------------confirm  order-----------------------*/
.right-col .support .product_list_order .prod{
	float: left;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	height: 20px;
	line-height: 20px;
}
.right-col .support .product_list_order{
	width: 100%;
	content: "";
	display: table;
	clear: both;
}

.right-col .price_all_orders{
	padding-top:10px;
}
.right-col .price_all_orders>span{
	font-weight: 800;
	font-size: 16px;
}

.right-col .support .filter_orders{
	border-radius: 5px;
	border: 1px solid #0bb1e8;
	margin-bottom: 10px;
	width: 100%;
	content: "";
	display: table;
	clear: both;
}

.right-col .support .filter_orders label{
	padding: 0;
}

.right-col .support .filter_orders .filter_id{
	width: 100%;
	float: left;
	padding: 5px;
}

.right-col .support .filter_orders .filter_id #id_user_from,#id_user_to{
	width: 40px;
}

.right-col .support .filter_orders .filter_id .div_count_order{
	float: right;
	padding-right: 10px;
}

.right-col .support .filter_orders .filter_id .div_status{
	float: right;
	padding-right: 20px;
}

.right-col .support .filter_orders .name_and_last_name{
	float: left;
	padding: 5px;
}

.right-col .support .filter_orders input[type="submit"]{
	float: right;
	background: #fff;
	margin-right: 10px;
	border: 1px solid #ccc;
	padding: 3px 5px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px 0 #cccccc;
}

.right-col .support .filter_orders input[type="submit"]:active{
	box-shadow: none;
}

.right-col .support .product_list_order .product_manufacturer{
	width: 25%;
}
.right-col .support .product_list_order .product_model{
	width: 28%;
}
.right-col .support .product_list_order .product_price{
	width: 15%;
}
.right-col .support .product_list_order .product_color{
	width: 10%;
}
.right-col .support .product_list_order .product_count{
	width: 7%;
}
.right-col .support .product_list_order .product_sum{
	width: 15%;
}
.right-col .support .product_list_order .product_total{
	width: 7%;
	float: right;
}
.right-col .support .product_list_order .product_total_sum{
	width: 15%;
	float: right;
	font-weight: 600;
}


.right-col .support .product_list_order .product_id{
	width: 10%;
}

.right-col .support .product_list_order .product_customer_fio{
	width: 25%;
}

.right-col .support .product_list_order .product_customer_telephoneNumber{
	width: 15%;
}
.right-col .support .product_list_order .product_status{
	width: 20%;
}
.right-col .support .product_list_order .product_date{
	width: 15%;
}

.right-col .support .product_list_order>div{
	position: relative;
}

.right-col .support .product_list_order>div:after{
	content: "";
	display: table;
	clear: both;
}

.right-col .support .product_list_order .confirm_or_delete_order{
	position: absolute;
	opacity: 0;
	height: 15px;
	top:-9999em;
	right:0;
}

.right-col .support .product_list_order>div:hover .confirm_or_delete_order{
	opacity: 1;
	top: 2px;
	transition: 0.3s opacity;
}

.right-col .support .product_list_order .confirm_or_delete_order .confirm{
	float: left;
	width: 15px;
	height: 15px;
	background: url(../img/twittericons.jpg) -352px 179px ;
	padding-right:5px;
}
.right-col .support .product_list_order .confirm_or_delete_order .delete_order{
	float: right;
	width: 15px;
	height: 15px;
	background: url(../img/twittericons.jpg) -377px 179px ;
}

.right-col .support .product_list_order .confirm_or_delete_order .confirm:hover{
	background: url(../img/twittericons_green.jpg) -352px 179px ;
}

.right-col .support .product_list_order .confirm_or_delete_order .delete_order:hover{
	background: url(../img/twittericons_red.jpg) -377px 179px ;
}

.right-col .support .info_page {
	min-height: 0;
	content: "";
	display: table;
	clear: both;
}

.right-col .support .info_page .pages{
	padding-top: 0;
}
/*-----------------------------------------------------info order customer-------------------*/
.right-col .support .info_about_customer{
	width: 100%;
	content: "";
	display: table;
	clear: both;
	padding-bottom: 5px ;
}

.right-col .support .info_about_customer label{
	line-height: 24px;
	padding: 0;
}
.right-col .support .info_about_customer input{
	float: right;
	width: 500px;
	height: 22px;
	border: 1px solid #cccccc;
	background: #ffffff;
	color: #000000;
}

.right-col .support{
	width: 100%;
	content: "";
	display: table;
	clear: both;
}

.right-col .support .buttons{
	float: right;
	padding: 5px;
}

.right-col .support .buttons .button_confirm{
	float: right;
	color: #0bb1e8;
	padding: 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0 #cccccc;
	margin-left: 5px;
}

.right-col .support .buttons .button_reject{
	float: right;
	color: #0bb1e8;
	padding: 10px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0 #cccccc;
}

.right-col .support .buttons .button_confirm:active{
	box-shadow: none;
}
.right-col .support .buttons .button_reject:active{
	box-shadow: none;
}

.right-col .support .price_order{
	float: right;
	border: 1px solid #cccccc;
	padding: 5px;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 24px;
	box-shadow: 1px 1px 5px 0 #cccccc;
}

	/*----------------------------------history orders----------------*/
.right-col .id_and_status_order{
	width: 100%;
	padding: 10px 0 5px 0;
	font-size: 20px;
	content: "";
	display: table;
	clear: both;
}
.right-col .id_and_status_order .status_order{
	float: right;
}
.right-col .id_and_status_order .id_order{
	float: left;
}
.right-col .id_and_status_order .status_order>span{
	text-transform: uppercase;
}
.right-col .id_and_status_order .price-order{
	float: right;
	padding-right: 10px;
}

	/*-------------------------------photo_for_product---------------*/

.right-col .add_new_photo{
	background: #62d4f6;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	box-shadow: 0 0 2px #000;
	margin: 5px 0 10px 0;
	color: #000000;
}

.right-col .photo_for_product{
	display: inline-block;
	width: 160px;
	margin: 2px;
	text-align: center;
	position: relative;
}

.right-col .photo_for_product img{
	max-width: 100%;
}

.right-col .photo_for_product .date_time_photo{
	color: #aaaaaa;
	font-size: 10px;
}

.right-col .photo_for_product .div_update_delete_photo{
	height: 15px;
	padding: 0 27px;
	position: absolute;
	bottom: 0px;
	background: #ffffff;
	opacity: 0;
	transition: 0.5s;
}

.right-col .photo_for_product:hover .div_update_delete_photo{
	bottom: 14px;
	opacity: 1;
}

.right-col .photo_for_product .div_update_delete_photo .update{
	width: 15px;
	height: 15px;
	float: left;
	background: url(../img/twittericons.jpg) -64px 109px ;
	margin: 0 10px 0 10px;
}

.right-col .photo_for_product .div_update_delete_photo .delete{
	width: 15px;
	height: 15px;
	float: left;
	background: url(../img/twittericons.jpg) -377px 180px ;
	margin: 0 10px 0 10px;
}

.right-col .photo_for_product .div_update_delete_photo .major_photo{
	width: 15px;
	height: 15px;
	float: left;
	background: url(../img/twittericons.jpg) -521px 132px ;
	margin: 0 10px 0 10px;
}

.right-col .photo_for_product .div_update_delete_photo .delete:hover{
	background: url(../img/twittericons_red.jpg) -377px 180px ;
}

.right-col .photo_for_product .div_update_delete_photo .update:hover{
	background: url(../img/twittericons_red.jpg) -64px 109px ;
}

.right-col .photo_for_product .div_update_delete_photo .major_photo:hover{
	background: url(../img/twittericons_red.jpg) -521px 132px ;
}


/*-------------------------------------------------*/

.product-list li{
	display: inline-block;
	width: 167px;
	float: left;
	height: 297px;
	
}

.product-list li a{
	color: #000;
}

.border-right{
	color: #000;
	min-height: 210px;
	border-right: 1px dotted #cccccc;
	margin: 8px 0px 8px 8px;
	padding-right: 8px;
	position: relative;
}

.border-right .top{
	height: 25px;
	background: #0bb1e8;
	border-radius: 12px;
	position: absolute;
	
}

.border-right .top p{
	margin: 5px;
}

.img-product{
	text-align: center;
}


.border-right .product .nameProduct{
	text-align: center;
}


.border-right>.product >p{
	margin:0 5px; 
}

.border-bottom{
	width: 150px;
	border-bottom: 1px dotted #cccccc;
	margin:0 auto;
}

.product-list li:nth-child(4n) .border-right{
	border-right: none;
}

.product-list li:nth-child(13n) .border-bottom{
	border-bottom: none;
}


.product-list li:nth-child(14n) .border-bottom{
	border-bottom: none;
}


.product-list li:nth-child(15n) .border-bottom{
	border-bottom: none;
}


.product-list li:nth-child(16n) .border-bottom{
	border-bottom: none;
}

.price-block{
		height: 48px;
	padding-left: 5px;
	padding-top: 14px;
	font-size: 15px;
}
.border-right .product >.price-block> .price{
	color: #0bb1e8;
}

.border-right .product >.price-block> .old-price{
	text-decoration: line-through;
	color: #cccccc;
}

.border-right .add_to_bascket{
	text-align: center;
	padding-bottom: 5px;
	font-size: 11px;
	text-decoration: underline;
	position: absolute;
	bottom: 0;
	left: 25px;
}
.border-right .add_to_bascket a{
		color: #0bb1e8;
}

/*-------------------------------list Users------------------*/


.main .wrapper .right-col .listUsers{
	margin-top: 10px;
	max-width: 400px;
}

.main .wrapper .right-col .listUsers li{
	padding:10px 0 5px 0;
	border-bottom: 1px dotted #cccccc;
}

.main .wrapper .right-col .listUsers .name_and_email .userName{
	width:50%;
	float: left;
}

.main .wrapper .right-col .listUsers .name_and_email .userName h4{
	text-align: center;
}

.main .wrapper .right-col .listUsers .name_and_email .userName p{
	padding-left: 15px;
}

.main .wrapper .right-col .listUsers .name_and_email .userEmail h4{
	text-align: center;
}

.main .wrapper .right-col .listUsers .name_and_email .userEmail p{
	padding-left: 215px;
}

/*-----------------------------flash message------------------*/

.main .wrapper .flash_massage{
	position: fixed;
	bottom: -1000px;
	right: 0;
	min-width: 100px;
	max-width: 200px;
	min-height: 30px;
	border:1px solid #cccccc;
	border-right: 0px;
	border-top-left-radius: 5px;
	color: #0bb1e8;
	background: #FFFFFF;
}

.main .wrapper .flash_massage ul{
	margin: 10px;
}

.main .wrapper .flash_massage ul li{
	margin: 5px;
}
.main .wrapper .flash_massage ul li .error_massage{
	color: #ff0000;
}

/*-----------------admin panel--------------*/

.main .wrapper .admin_panel{
	position: fixed;
	right: 0px;
	top:0px;
	min-width: 20px;
	background: #FFFFFF;
}

.main .wrapper .admin_panel p{
	padding: 10px;
	text-align: center;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-bottom-left-radius:5px ;
}


.main .wrapper .admin_panel .admin_buttons{
	display: none;
}

.main .wrapper .admin_panel:hover .admin_buttons{
	display: block;
}

.main .wrapper .admin_panel .admin_buttons ul li .admin_button{
	color: #000;
	font-size: 14px;
	padding: 9px 10px 9px 4px;
	border-bottom: 1px dotted #cccccc;
	background: #fff;
}

.main .wrapper .admin_panel .admin_buttons ul li .admin_button img{
	width: 3px;
	height: 5px;
	padding-right: 10px;
	vertical-align: middle;
}

.main .wrapper .admin_panel .admin_buttons ul li .admin_button:hover {
	color: #0bb1e8;
}

/*---------------------------------------------------*/

.second-nav{
	width: 940px;
	height: 41px;
	margin-top: 20px;
	background: url(../img/Layer18.png);
	border-radius: 5px;
	clear: both;
}

.second-nav nav ul li{
	float: left;
}

.second-nav nav ul li a{
	color: #fff;
	padding-top: 12px;
	padding-left: 75px;
	padding-right: 74px;
	font-size: 16px;
	display: block;
}

.second-nav .nav-bord{
	width: 1px;
	height: 10px;
	margin: 15px 0 15px 0;
	background: #bfcbce;
}

.second-nav nav ul li:hover a{
	color: #0bb1e8;
}

/*-------------------------------style popup magnific------------------------*/
/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transform:scale(0) ;
	-moz-transform:scale(0);
	-o-transform: scale(0);
	transform: scale(0);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform:scale(1) ;
	-moz-transform:scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
/*----------------------------------------------------------------*/

/*-----------------------------------footer-----------------------------*/

.footer .wrapper{
	width: 940px;
}

.content-footer{
	margin:20px;
	text-align: center;
}

.content-footer ul li{
	display: inline-block;
	margin:0 10px 0 10px;
}

.content-footer ul li a{
	color: #0bb1e8;
}

.content-footer ul .footer-bord{
	width: 1px;
	height: 10px;
	background: #000;
}




header:after{
	content: "";
	display: table;
	clear: both;
}



